
<link rel="stylesheet" href="/css/home.css">

<div id="home-container" style="margin-top: 5%;">
    <section id="feed-posts">
        
   
    <% if(locals.user){ %>

        <div class="card feed-posts-form-left" >
            <img id="frame" class="card-img-top" src="https://static.thenounproject.com/png/2616533-200.png" class=".img-rounded"/>
            <div class="card-body">
                <form action="/posts/create" id="new-post-form"  method="POST" enctype="multipart/form-data">
            
                    <textarea name="content" rows="2" cols="10" class="form-control rounded-pill border-0 bg-gray z-depth-1 mb-2"
                  
                    placeholder="Type Here..." required></textarea>
                    <input type="file" class="post-iamge form-control form-control-sm mb-3" name="postpic" placeholder="Post Picture" required>
                    <input type="submit" class="btn btn-primary" value="Post">

                    
                </form>
            </div>
          </div>
        
        <% } %>
        <hr/>
    
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    
                    <% if(post.user.usertype !== "Organization") { %>
                        <%- include('_post') -%>
  
                <%} }%>
            </ul>
        </div>
    </section>

  <%- include('_personal_home_sidebar') -%>

  <%- include('_chat_box') -%>
    </div>



<script src="js/post_comment_reactions.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let PostCommentreactions = new HandleReaction(self);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>


<% if (locals.user){ %>
<script>
    $('.fa-message').click(function(e){
       
        // console.log("clicked",e.target.classList[2]);
        let receiverMail = e.target.classList[2];
        let receiverId = e.target.classList[3];
        $('#user-chat-box').css('display','block');
        // console.log('user-chat-box', '<%= locals.user.email %>',receiverMail,receiverId,'<%= locals.user.id %>');
        new ChatEngine('user-chat-box', '<%= locals.user.email %>',receiverMail,receiverId,'<%= locals.user.id %>' );
       
    });
    
</script>
<% } %>