<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Profile Page 
</h1>




<% if(user.id == profile_user.id){ %>

    <!-- if user matches then show the form -->
    

    <div class="card profile-card" style="width: 18rem;" >
        <img id="profile-pic-top" class="card-img-top" 
        src= "<%= user.avatar %>" class=".img-rounded"/>
        <div class="card-body">

            <form action="/users/update-profile/<%= profile_user.id %>" enctype="multipart/form-data"  method="POST">
                <input type="text" name="name" placeholder="Your Name" 
                value="<%= profile_user.name %>" class="form-control rounded-pill border-0 bg-gray z-depth-1 mb-2"required>
                <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>"
                class="form-control rounded-pill border-0 bg-gray z-depth-1 mb-2" required>
                <input type="text" name="password" placeholder="Your password" value="<%= profile_user.password %>" 
                class="form-control rounded-pill border-0 bg-gray z-depth-1 mb-2"required>
                <input type="file" name="avatar" placeholder="Profile Picture"
                class="post-iamge form-control form-control-sm mb-3" >
        
                <input type="submit"  value="Update">
            </form>
        </div>
      </div>
    
<%}else{%>      

    <div class="card profile-card" style="width: 18rem;" >
        <img id="profile-pic-top" class="card-img-top" 
        src= "<%= profile_user.avatar %>" class=".img-rounded"/>
        <div class="card-body">

            
                <input type="text" name="name" placeholder="Your Name" 
                value="<%= profile_user.name %>" class="form-control rounded-pill border-0 bg-gray z-depth-1 mb-2" disabled>
                <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>"
                class="form-control rounded-pill border-0 bg-gray z-depth-1 mb-2" disabled>

        
          
        </div>
      </div>


<%} %>
